
@media all and (min-width: 576px) {
    .container-fluid {
        padding-right: 5% !important;
        padding-left: 5% !important;
    }
}

@media (min-width: 1200px) {
    .container-fluid {
        padding-right: 8% !important;
        padding-left: 8% !important;
    }
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 500;
}

header {
  background-image: url(images/portada2.JPG);
  background-size: cover;
  background-position: center top;
  height: 100vh;
}

a span {
    font-weight: 500;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .55s;
}

a span:hover {
    background-size: 100% 2px;
}

.header-social {
    right: 0;
    top: 60%;
}
.header-social a {
    color:white;
}