@media all and (min-width: 576px) {
    .container-fluid {
        padding-right: 5% !important;
        padding-left: 5% !important;
    }
}

@media (min-width: 1200px) {
    .container-fluid {
        padding-right: 8% !important;
        padding-left: 8% !important;
    }
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 500;
}

header {
    background-image: url(images/portada2.JPG);
    background-size: cover;
    background-position: center top;
    height: 100vh;
}

a span {
    font-weight: 500;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .55s;
}

a span:hover {
    background-size: 100% 2px;
}

.header-social {
    right: 0;
    bottom: 5%;
}

.header-social a {
    color: white;
}

#readmore {
    bottom: 10px;
    left: 50%;
    text-decoration: none;
}

#readmore a i {
    opacity: .5;
}

#readmore:hover {
    transform: scale(1.1);
    transition-duration: .5s;
    opacity: .9;
}

.header-text {
    left: 10px;
    bottom: 60%;
    border-radius: 20px;
}

footer {
    background-color: rgb(49, 49, 49);
}

footer a {
    color: white;
}