@media all and (min-width: 0) {
    .container-fluid {
        padding-right: 5% !important;
        padding-left: 5% !important;
    }
}

@media all and (min-width: 992px) {
    .container-fluid {
        padding-right: 6% !important;
        padding-left: 6% !important;
    }
}

@media (min-width: 1200px) {
    .container-fluid {
        padding-right: 7% !important;
        padding-left: 7% !important;
    }
}

body {
    font-family: 'Raleway', sans-serif;
}

/*------HEADER-------*/

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
}

header {
    background-image: url(images/portada2.JPG);
    background-size: cover;
    background-position: center top;
    height: 100vh;
}

a span {
    font-weight: 600;
    letter-spacing: 4px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .55s;
}

a span:hover {
    background-size: 100% 2px;
}

.header-social {
    right: 0;
    bottom: 5%;
}

.header-social a {
    color: white;
}

#readmore {
    bottom: 10px;
    left: 49.25%;
}

#readmore a i {
    opacity: .5;
}

#readmore:hover {
    transform: scale(1.1);
    transition-duration: .5s;
    opacity: .9;
}

.header-text {
    left: 10px;
    bottom: 60%;
    border-radius: 20px;
}

/*---------PORTFOLIO------------*/
.portfolio-box {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.151);
}

.portfolio-box:hover {
    transform: scale(1.01);
    transition: 0.35s;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.103);
}

.card {
    max-width: 100%;
    height: auto;
}
/*---------FOOTER------------*/

footer {
    background-color: rgb(49, 49, 49);
}

footer a {
    color: white;
}

footer p {
    word-spacing: 5px;
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: 600;
}