/*general*/

@media all and (min-width: 0) {
    .container-fluid {
        padding-right: 10% !important;
        padding-left: 10% !important;
    }
}

@media all and (min-width: 575px) {
    .container-fluid {
        padding-right: 8% !important;
        padding-left: 8% !important;
    }
}

@media (min-width: 1200px) {
    .container-fluid {
        padding-right: 13% !important;
        padding-left: 13% !important;
    }
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #d1ecff;
}

.vertical-alignment-margin {
    margin: 100px 0;
}

.vertical-alignment-padding {
    padding: 100px 0;
}

/*------HEADER-------*/

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
}

.navbar-toggler {
    z-index: 1;
}

header {
    background-image: url(images/portada2.JPG);
    background-size: cover;
    background-position: center top;
    height: 100vh;
}

a span {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    background-image: linear-gradient(rgb(65, 70, 82), rgb(65, 70, 82));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: background-size .55s;
}

a span:hover {
    background-size: 100% 3px;
}

@media (max-width: 800px) {
    .header-social {
        right: 0;
        bottom: 15%;
    }
}

@media (min-width: 800px) {
    .header-social {
        right: 0;
        bottom: 6%;
    }
}

.header-social a {
    color: white;
}

.header-social a:hover {
    color: white;
    opacity: .8;
    transition: .3s;
}

#readmore {
    bottom: 10px;
    left: 49.25%;
}

#readmore a i {
    color: white;
    opacity: .1;
}

#readmore:hover {
    transform: scale(1.06);
    transition-duration: .5s;
    opacity: .9;
}

.header-text {
    left: 10px;
    bottom: 60%;
    border-radius: 20px;
}

@media (max-width: 767px) {

    #navbarToggler {
    background-color: white;
    width: 100%;
    padding: 10%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}
}
/*---------PORTFOLIO------------*/
.portfolio-box {
    border-top: solid 4px #373a40;
    border-right: solid 4px#373a40;
    border-left: solid 4px#373a40;
    max-width: 610px;
}

.portfolio-box:hover {
    transform: scale(1.01);
    transition: 0.35s;
}

@media all and (max-width: 767px) {
    .portfolio-box {
        margin-bottom: 40px !important;
    }
}

.portfolio-foot {
    background-color: #373a40;
    bottom: 0;
    left: 0;
    width: 100%;
}

.portfolio-foot p {
    color: white;
    margin-bottom: 0;
}

.portfolio-title {
    font-size: 22px;
    font-weight: 500;
    word-spacing: 2px;
}

/*---------ABOUT ME------------*/
.aboutme-spacing {
    padding: 150px;
}

.aboutme-icon {
    opacity: .8;
}

.aboutme-description {
    line-height: 1.1;
    font-weight: 400;
    text-align: center;
    font-size: 1.3rem;
    align-content: center;
}

.vvv {
    justify-content: center;
  align-content: center;
}

/*---------FOOTER------------*/

footer {
    background-color: #373a40;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
    opacity: .8;
    transition: .3s;
}

.footer-title {
    word-spacing: 5px;
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: 600;
}

.copyright-mark {
    font-size: 14px;
    opacity: .4;
}

.sendemail a {
    font-size: 18px;
    text-decoration: none;
}